.container {
    text-align: center;
}

#song {
    display: block;
    margin: 0 auto;
}

.btn {
    width: 32px;
    padding: 5px;
    cursor: pointer;
}

.gif {
    display: block;
    margin: 0 auto;
    border-radius: 100%;
}